* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-container {
  padding: 50px 50px;
  min-height: 100vh;
}

.header {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 30vh;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px;
}

.header-h1 {
  color: #475569;
  font-size: 28px;
}

.header-p {
  color: #475569;
  font-size: 16px;
}

.text-blue {
  color: #0b69ff;
}

@media (max-width: 767px) {
  .bg-container {
    padding: 16px;
  }

  .header-h1,
  .header-p {
    text-align: center;
  }

  .header {
    justify-content: center;
    height: 20vh;
  }
}

.money-details-list {
  margin-top: 25px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.activity-container {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.transaction-container {
  width: 40%;
  border: 2px solid #cbd5e1;
  border-radius: 5px;
  padding: 22px;
}

.transaction-h1 {
  color: #1e293b;
  font-size: 24px;
  margin: 0px;
}

.form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.label {
  color: #7e858e;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.input {
  color: #334155;
  font-weight: 450;
  font-size: 14px;
  padding: 7px 10px;
  border: 1px solid #cbd5e1;
  border-radius: 7px;
  margin-bottom: 18px;
  outline: none;
  background-color: transparent;
}

.option:hover {
  background-color: #06b6d4;
  color: #ffffff;
}

.btn {
  align-self: flex-start;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 7px 15px;
  border-radius: 5px;
}

.history-container {
  width: 57%;
  border: 2px solid #cbd5e1;
  border-radius: 5px;
  padding: 22px;
}

@media (max-width: 767px) {
  .transaction-container,
  .history-container {
    width: 100%;
    margin-bottom: 19px;
  }
}

.history-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.history-list-item {
  border: 1px solid #cbd5e1;
  margin: 0px;
  display: flex;
  padding: 5px;
  margin-top: 32px;
}

.li-h1 {
  margin: 0px;
  width: 25%;
  flex-shrink: 5;
  text-align: center;
  color: #1e293b;
  font-size: 19px;
  padding: 5px;
}
